/**
* Font Sizes
*/
$fs-caption: 1rem;
$fs-label: 1.125rem;
$fs-body: 1.25rem;
$fs-h3: 1.75rem;
$fs-h2: 2.5rem;
$fs-h1: 3rem;
$fs-title: 4rem;
$fs-callout: 2rem;

/**
* Font Weights
*/
$fw-book: 400;
$fw-medium: 500;
$fw-semibold: 600;

/**
* Line Heights
*/
$lh-0: 1;
$lh-tight: 1.125;
$lh-base: 1.25;
$lh-loose: 1.35;

/**
* Font Families
*/
$ff-sans: freight-sans-pro, Helvetica, Arial, sans-serif;
$ff-serif: freight-text-pro, Times, Georgia, serif;